<footer>
    <div class="about-wrap">
        <section class="about">
            <img class="about-avatar" src="https://www.gravatar.com/avatar/d1a8f892fbd12bcece2713506a3952c6.jpg?s=100" border="0" alt="[name]" />
            <div class="about-body">
                <p class="about-body-title">About</p>
                <p class="about-body-description">Full Stack developer, Co-Founder of <a href="http://www.figroll.io">Figroll</a> and <a href="http://www.pebbl.io">Pebbl</a>. Keeping Bees and wearing Vibrams in my spare time.</p>
                <!-- <ul> -->
                    <!-- <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="about-body-link about-body-link--bird">@{{ site.twitter_username }}</a></li> -->
                    <!-- <li><a href="https://instagram.com/{{ site.instagram_username }}" target="_blank" class="about-body-link about-body-link--gram">{{ site.instagram_username }}</a></li> -->
                <!-- </ul> -->
            </div>
        </section>
    </div>
</footer>
